<% provide(:title, "編集") %>
<% provide(:class_text, 'user-edit') %>
<% provide(:button_text, '更新') %>

<section class="users-index">
  <h1>My情報編集</h1>
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default panel-wine">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 user-form-area">
            <% if @user.email == "test@sample.com" %>
              <h2>テストユーザーは変更できません</h2>
            <% else %>
              <%= render 'form' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
