<% provide(:title, 'ユーザ登録') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '新規作成') %>
<h1>ユーザ登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="btn-header">
      <%= link_to "<ユーザ一覧へ", users_path, class: "btn btn-default btn-wine-index" %>
    </div>
    <%= render 'form' %>
  </div>
</div>
