<% provide(:title, 'ユーザー情報') %>
<div>
  <table class="table-bordered table-condensed">
    <tr>
      <td>氏名</td>
      <td>メールアドレス</td>
    </tr>

    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
    </tr>
  </table>
  <div class="center">
    <li><%= link_to "編集", edit_user_path(current_user) %></li>
    <%= link_to "ワイン一覧へ", '', class: "btn btn-lg btn-primary wine-btn" %>
  </div>
</div>