<% provide(:title, 'ユーザー情報') %>
<div>
  <table class="table-bordered table-condensed">
    <tr>
      <td>氏名</td>
      <td>メールアドレス</td>
    </tr>

    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
    </tr>
  </table>
  <% if current_user.admin? %>
    <div class="center">
      <%= link_to "User一覧へ", users_path, class: "btn btn-lg btn-primary wine-btn" %>
    </div>
  <% end %>
  
</div>