<% provide(:title, "TOP") %>
<div class="jumbotron jumbotron-extend jumbotron-top">
  <div class="container-fluid">
      <h1>ワイン管理アプリ</h1>
      <p>このアプリケーションでは、ユーザーの皆様が編集したワインの一覧を閲覧できます。<br>
          ユーザーの方がワインの登録ができます。（ログイン必要）</p>
      <%= link_to "ワイン一覧へ", '', class: "btn btn-lg btn-primary wine-btn" %>
  </div>
</div>