<% provide(:title, "TOP") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | ワイン管理システム</title>
  </head>
  <body>
    <h1>ワイン管理アプリ</h1>
    <p> このアプリケーションでは、ユーザーの皆様が編集したワインの一覧を閲覧できます。
        <br>
        ユーザーの方がワインの登録ができます。（ログイン必要）
    </p>
  </body>
</html>