<% provide(:title, 'Vueのテスト') %>

<% provide(:title, 'ワイン編集') %>
<% provide(:button_text, '更新') %>

<section class="users-index">
<h1><%= javascript_pack_tag 'hello_vue' %></h1>
  <div class="col-md-10 col-md-offset-1">
    <div class="btn-header">
      <%= link_to "<ワイン一覧へ", wines_path, class: "btn btn-default btn-wine-index" %>      
    </div>
    <div class="panel panel-default panel-wine">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 form-wine">
           
          </div> 
        </div> 
      </div> 
    </div>
  
  </div> 
</section>


