@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* @mixin CSSのルールをパッケージ化して複数の要素に適用することができる */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: serif;
  font-style: italic;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  font-size: 1.54em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 14px;
  padding-left: 30px;
  font-family: serif;
  font-style: italic;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar {
  min-height: 60px !important;
  background-color: #3e045c;
}

.navbar-inverse .navbar-nav > li > a {
  padding-top: 20px;
  font-weight: bold;
  font-family: serif;
  // font-style: italic;
  font-size: 1.3em;
}

.material-icons {
  position: relative;
  top: 5px;
  left: 5px;
}

.header_main {
  top: -5px;
  margin-left: 30px;
  // margin-right: 20px;
}

.dropdown-menu {
  background-color: #9041c3;
}

.dropdown-menu_text {
  color: white !important;
  font-weight: bold !important;
  font-family: serif;
  // text-align: center;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #9b60c2;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #3e045c;
}

.navbar-right .dropdown-menu {
  left: 0 !important;
}

.navbar-nav {
  float: right;
}

.navbar-toggle {
  margin-top: 12px;
}



@media screen and ( max-width:767px) {
  .navbar-nav {
    float: none;
  }
  .navbar-inverse .navbar-nav > li > a {
    padding-top: 4px;
    font-size: 1em;
  }
}

/* various */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* table */

table {
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

th {
  vertical-align: middle;
  text-align: center;
}

/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* btn */

.btn-attendances-update {
  width: 30%;
  margin: auto;
}

.form-inline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-wine {
  margin-top: 100px;
  margin-left: 70px;
  font-size: 21px;
}

.btn-new {
  margin-top: 30px;
}

.btn-wine-index {
  margin-bottom: 15px;
}

.wine-show-btn {
  // text-align: center;
}

.wine-edit-btn {
  // float: right;
}

.btn-wine-area {
  text-align: center;
}

.wine-delete-btn {
  float: right;
}

.close {
  font-family: serif;
}


/* モーダルウインドウの位置調整 */

.modal-dialog-center {
  padding-top: 10%;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* typography */
.request-info:hover {
  color: red;
}

.request-number {
  border: solid 3px red;
  color:red;
  font-weight: bold;
}

#blue {
  color: blue;
  font-size: 20px;
}

.notification {
  list-style: none;
}


/* ログインフォーム */

.label-login {
  color: black;
  text-align: left;
  margin-top: 5px;

}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
      font-weight: normal;
  }
}

.login_pass_area, .login_sns_area {
  border: 1px solid#CCC;
  padding: 30px;
  width: 400px;
  min-height: 300px;
  background-color: whitesmoke;
}

.login_pass_area {
  float: left;
  margin-left: 10em;
}

.login_sns_area {
  float: right;
  margin-right: 10em;
}

.signup_text {
  text-align: center;
  font-size: 20px;
  margin-top: 18px;
  font-weight: bold;
}

.signup_text a {
  color: #66FFCC;
}

.login-title {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.panel-heading {
  text-align: center;
  font-weight: bold;
}

.btn-social {
  margin-top: 30px;
  margin-bottom: 49px;
}

.kochira {
  font-weight: bold;
  color: #CCFF99;
  &:hover {
    color: #009900;
  }
}


/* TOP画面 */

.jumbotron-extend {
  position: relative;
  min-height: 100vh;
  // min-height: 300px;
  background-image: image-url("main.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}

.jumbotron-top {
  display: flex;
	align-items: center;
	justify-content: center;
}

.jumbotron h1 {
  font-weight: bold;
  text-shadow: 0 0 0.05em #b507af, 0 0 0.1em #b507af, 0 0 0.15em #b507af, 0 0 0.3em #b507af;
  filter: saturate(80%);
}

.jumbotron {
  margin-bottom: 0;
}

.jumbotron p {
  font-weight: bold;
}

.container-fluid {
  color: white;
  // text-align: center;
  font-family: serif;
  font-style: italic;
  // text-shadow: 0px 5px 3px #555;
}

/* ユーザー一覧 */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.user-name {
  font-family: serif;
  // font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

.user-email {
  // font-family: serif;
  // font-style: italic;
  // font-weight: bold;
  // font-size: 18px;
}

.empty {
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}


/* ワイン一覧画面 */

.card {
  box-shadow:0px 0px 10px;
  border: 1px solid#CCC;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  max-height: 430px;
  min-height: 430px;
}

.card-body {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.card-title {
  padding-left: 10px;
  padding-right: 10px;
}

.card-text {
  padding-left: 10px;
  padding-right: 10px;
}

.wines-index {
  position: relative;
  min-height: 100vh;
  background-image: image-url("wines-index2.jpg");
  background-position: center center;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.img-area {
  min-height: 200px;
}

/* ワイン編集画面 */

.panel-wine {
  box-shadow: 0px 0px 5px;
}

.form-wine {
  margin-top: 15px;
  margin-bottom: 15px;
}