@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* @mixin CSSのルールをパッケージ化して複数の要素に適用することができる */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: serif;
  font-style: italic;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-family: serif;
  font-style: italic;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar {
  min-height: 60px !important;
  background-color: #3e045c;
}

.navbar-inverse .navbar-nav > li > a {
  padding-top: 20px;
  font-weight: bold;
  font-family: serif;
  // font-style: italic;
  font-size: 1.3em;
}

.material-icons {
  position: relative;
  /* 値は調整してください */
  top: 5px;
  left: 5px;
}

.header_main {
  top: -5px;
}

.dropdown-menu {
  background-color: #9041c3;
}

.dropdown-menu_text {
  color: white !important;
  font-weight: bold !important;
  font-family: serif;
  text-align: center;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #9b60c2;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #3e045c;
}

.navbar-right .dropdown-menu {
  left: 0 !important;
}

/* various */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* table */

table {
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

th {
  vertical-align: middle;
  text-align: center;
}

/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* btn */

.btn-attendances-update {
  width: 30%;
  margin: auto;
}

.form-inline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-wine {
  margin-top: 100px;
}

.btn-new {
  // margin-left: 140px;
}

.wine-edit-btn {
  float: right;
}

.wine-delete-btn {
  float: right;
}

/* モーダルウインドウの位置調整 */

.modal-dialog-center {
  padding-top: 10%;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* typography */
.request-info:hover {
  color: red;
}

.request-number {
  border: solid 3px red;
  color:red;
  font-weight: bold;
}

#blue {
  color: blue;
  font-size: 20px;
}

.notification {
  list-style: none;
}

/* ログインフォーム */

.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
      font-weight: normal;
  }
}

/* TOP画面 */

.jumbotron-extend {
  position: relative;
  height: 100vh;
  min-height: 300px;
  background-image: image-url("main.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.jumbotron-top {
  display: flex;
	align-items: center;
	justify-content: center;
}

.jumbotron h1 {
  font-weight: bold;
  text-shadow: 0 0 0.05em #b507af, 0 0 0.1em #b507af, 0 0 0.15em #b507af, 0 0 0.3em #b507af;
  filter: saturate(80%);
}

.jumbotron p {
  font-weight: bold;
}

.container-fluid {
  color: white;
  text-align: center;
  font-family: serif;
  font-style: italic;
  // text-shadow: 0px 5px 3px #555;
}

/* user */

.user-name {
  font-family: serif;
  // font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

.user-email {
  // font-family: serif;
  // font-style: italic;
  // font-weight: bold;
  // font-size: 18px;
}

.empty {
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

