<% provide(:title, 'ワイン編集') %>
<% provide(:button_text, '更新') %>

<h1>ワイン情報の編集</h1>
<div class="col-md-10 col-md-offset-1">
  <div class="btn-header">
		<%= link_to "<ワイン一覧へ", wines_path, class: "btn btn-default btn-wine-index" %>
		<%= link_to "このワインを削除する", wine_path(@wine), method: :delete,
                      data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger wine-delete-btn" %>        
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<%= render 'form_edit' %>
				</div> 
			</div> 
		</div> 
	</div> 
</div> 